vendor/
node_modules/
public/storage
storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/*
!storage/framework/.gitignore
storage/logs/*
!storage/logs/.gitignore

.env
.phpunit.result.cache
.vscode/
.idea/
.DS_Store
Thumbs.db
.pint.cache
